---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?dataOnly=true&genreId=6001&l=en&popId=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apple-Store-Front:
      - 143441-1,17
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 31 Aug 2015 00:36:09 GMT
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStore.woa/wa/viewTop?genreId=6001&popId=30&dataOnly=true&l=en"
      X-Apple-Orig-Url:
      - https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?genreId=6001&popId=30&dataOnly=true&l=en
      X-Apple-Application-Site:
      - NWK
      Apple-Timing-App:
      - 863 ms
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-Application-Instance:
      - '1003305'
      X-Apple-Aka-Ttl:
      - Generated Sun Aug 30 17:36:09 PDT 2015, Expires Sun Aug 30 17:37:09 PDT 2015,
        TTL 60s
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Jingle-Correlation-Key:
      - HE456TW2LKKX3VZUGCZESK3VZE
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.213/80/WebObjects/MZStore.woa/wa/viewTop/iDevice/143441-1/17/https?dataOnly=true&genreId=6001&l=en&popId=30"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: ASCII-8BIT
      string: '{"footerCrumbs":[{"label":"iTunes Store","url":"https://itunes.apple.com/us/store"},{"label":"App
        Store","url":"https://itunes.apple.com/us/genre/ios/id36?mt=8"},{"label":"Weather","url":"https://itunes.apple.com/us/genre/ios-weather/id6001?mt=8"},{"label":"Top
        Paid iPhone Apps","url":"https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?cc=us&genreId=6001&popId=30"}],"allGenresUrl":"https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?cc=us&genreId=36&popId=30","genre":{"name":"Weather","id":"6001","url":"https://itunes.apple.com/us/genre?id=6001"},"topCharts":[{"adamIds":["749133301","517329357","325683306","458225159","526831380","327193945","348618445","291430598","749078962","316415412","503757271","395148744","379869627","601606659","1020486527","459707387","288419283","401533966","426939660","348779486","958363882","649246860","336901296","467953363","695709241","485251405","505555988","961390574","417906074","292148184","479752016","294631159","410148139","649202100","460455088","287526650","482361332","460412892","382372588","546298468","739808997","52892[...]
